/*botones*/
.btn {
    margin-right: 1em;
    border-radius: 1.5rem;
    font-weight: 600;
    min-width: 175px;
    text-transform: uppercase;
}



.boton-relleno {
    background-color: $color-interacciones;
    color: #EADBF1;

}

.boton-outline {
    border: 2px solid $color-interacciones;
    color: $color-interacciones;
}

button{
    background-color: transparent;
    border: none;
    color: $color-interacciones;
    font-size: 1rem;
    font-weight: 300;
    text-align: start;
}