/*GENERALES*/

body {
    background-color: $color-claro;
    font-family: $tipo-texto;
}

section{
    padding:1.875rem 0;
}

a,
a:link,
a:visited {
    text-decoration: none;

}

img {
    max-width: 100%;
}

.w-40 {
    width: 45%;
}

.center {
    text-align: center;
}


.fondo-amarillo {
    @include fondoimg( '../img/fondo-amarillo.png', center, cover );
}

.fondo-amarillo-chico {
    background-image: url(../img/chico-amarillo.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.bi-star-fill {
    color: #F7A940
}