/*header*/

header{
           background-color: $color-claro;
           position: sticky;

           .logo span{
               color: $color-texto;
           }
    
    @media (min-width: 992px) {
        .navbar-collapse{
            flex-grow: unset;
        }  
    }
}

/*footer*/

footer {
    @include fondoimg( '../img/fondo-violta-nuevo.png', top, cover );
    padding: 1em;
}
