/*INICIO*/
.inicio {
    h2{
        text-align: start;
    }
    ul {
        padding-right: 0.5rem;
        list-style-type: none;
        line-height: 24px;
        li{
            display: flex;
            &::before{
                content: url("../img/lista.svg");
                width: 37px;
                margin-right: 14px;
            }
            h3{
                margin-bottom: 0;
            }
            
        }

        
    }

    >div {
        align-items: center;
        padding: 2em 0;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    img {
        padding-left: 1.5em;
        margin-bottom: 1.5em;
    }

}

.funcion {
    .card img {
        width: 153px;
        display: block;
        margin: 0 auto;
    }
}

.separador {
    text-align: center;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em 1.5em;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    .container{
        max-width: 1058px;
    }

    .burbuja {
        width: 150px;
        margin: 1.5rem auto;
    }

    span {
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.62);
    }

}


.titulos-secciones{
    max-width: 699px;
    margin: 0 auto;
    p{
        padding-bottom: 1.875rem;
        line-height: 30px;
        font-size: 1.25rem
    }
    
 }

 .creadoras{
    .retrato-creadora{
     min-height: 260px;
     max-width: 455px;
    }
 }

.marcas{
    border-top:1px solid rgba(85, 68, 68, 0.5); ;
    border-bottom: 1px solid rgba(85, 68, 68, 0.5);;
    padding: 20px 0;
    >div{
        max-width: 846px;
        margin: 0 auto;
    }
}

.comparti{
    padding: 2.5em 0;
    article{
        display: flex;
        flex-direction: column;
        width: 80%;
        div:first-child {
            margin: 0 auto;
            @media screen and (min-width:920px) {
                margin: 0;
            }

        }
        @media screen and (min-width:920px) {
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        h2{
            padding:0.5rem;
            @media screen and (min-width:920px) {
                text-align: start;
                padding-left: 0;
            }
        }
        .texto{
            text-align: center;
            @media screen and (min-width:920px) {
                text-align: start;
                width: 50%;
                max-width: 430px;
            }
            
        }
    }

}