/*tipografias*/


h1,
h2,
.logo {
    font-family: $tipo-titulo;
    color: $color-titulos;
    font-weight: 700;
}

h1 span,
h2 span,
.logo span{
    color: $color-texto;
}
h1{
font-family: $tipo-titulo;
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;
@media screen and (min-width:920px) {
    font-size: 60px;
    line-height: 76px;
    
}

}

h2{
/*    padding:23px;*/
    margin: 0;
    margin-bottom: 25px;
    text-align: center;
    font-size: 30px;
    @media screen and (min-width:992px) {
        font-size: 40px;
        
    }
}

p span{
    font-weight: 500;
}

h4 span{
    font-weight: 800;
}
.negrita{
    font-weight: 600;
}