*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import 'variables-mixins';
@import 'generales';
@import 'tipografias';
@import 'botones';
@import 'header-footer';
@import 'secciones';
@import 'portada';

@import 'carruseles';
@import 'cards';


