@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,900;1,700&family=Roboto:ital,wght@1,100&family=Rubik:wght@700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*GENERALES*/
body {
  background-color: #F8F5F4;
  font-family: "Poppins", sans-serif;
}

section, .galeria {
  padding: 1.875rem 0;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.w-40 {
  width: 45%;
}

.center {
  text-align: center;
}

.fondo-amarillo {
  background-image: url("../img/fondo-amarillo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.fondo-rosa {
  background-image: url("../img/fondo-rosa.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.fondo-amarillo-chico {
  background-image: url(../img/fondo-amarillo-chico.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.bi-star-fill {
  color: #F7A940;
}

/*tipografias*/
h1,
h2,
.logo {
  font-family: "Rubik", sans-serif;
  color: #FF5B7C;
  font-weight: 900;
}

h1 span,
h2 span,
.logo span {
  color: #554444;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 47px;
}

h2 {
  padding: 23px;
  margin: 0;
  text-align: center;
}

p span {
  font-weight: 500;
}

h4 span {
  font-weight: 800;
}

/*botones*/
.btn {
  margin-right: 1em;
  border-radius: 1.5rem;
  font-weight: 600;
  min-width: 175px;
}

.boton-relleno {
  background-color: #9B33BD;
  color: #EADBF1;
}

.boton-outline {
  border: 2px solid #9B33BD;
  color: #9B33BD;
}

button {
  background-color: transparent;
  border: none;
  color: #9B33BD;
  font-size: 1rem;
  font-weight: 300;
  text-align: start;
}

/*header*/
header {
  background-color: #F8F5F4;
  position: -webkit-sticky;
  position: sticky;
}
header .logo span {
  color: #554444;
}
@media (min-width: 992px) {
  header .navbar-collapse {
    flex-grow: unset;
  }
}

/*footer*/
footer {
  background-image: url("../img/footer.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1em;
}

/*INICIO*/
.inicio h2 {
  text-align: start;
}
.inicio ul {
  padding-right: 0.5rem;
  list-style-type: none;
  line-height: 24px;
}
.inicio ul li {
  display: flex;
}
.inicio ul li::before {
  content: url("../img/lista.svg");
  width: 37px;
  margin-right: 14px;
}
.inicio ul li h3 {
  margin-bottom: 0;
}
.inicio > div {
  align-items: center;
  padding: 2em 0;
  justify-content: space-around;
  flex-wrap: wrap;
}
.inicio img {
  padding-left: 1.5em;
  margin-bottom: 1.5em;
}

.funcion .card img {
  width: 153px;
  display: block;
  margin: 0 auto;
}

.separador {
  text-align: center;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3em 1.5em;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
}
.separador .container {
  max-width: 1058px;
}
.separador .burbuja {
  width: 150px;
  margin: 1.5rem auto;
}
.separador span {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.62);
}

.titulos-secciones {
  max-width: 699px;
  margin: 0 auto;
}
.titulos-secciones p {
  padding-bottom: 1.875rem;
  line-height: 30px;
  font-size: 1.25rem;
}

.creadoras .retrato-creadora {
  min-height: 260px;
  max-width: 455px;
}

.marcas {
  border-top: 1px solid rgba(85, 68, 68, 0.5);
  border-bottom: 1px solid rgba(85, 68, 68, 0.5);
  padding: 20px 0;
}
.marcas > div {
  max-width: 846px;
  margin: 0 auto;
}

.comparti {
  padding: 2.5em 0;
}
.comparti article {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.comparti article div:first-child {
  margin: 0 auto;
}
@media screen and (min-width: 920px) {
  .comparti article div:first-child {
    margin: 0;
  }
}
@media screen and (min-width: 920px) {
  .comparti article {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.comparti article h2 {
  padding: 0.5rem;
}
@media screen and (min-width: 920px) {
  .comparti article h2 {
    text-align: start;
    padding-left: 0;
  }
}
.comparti article .texto {
  text-align: center;
}
@media screen and (min-width: 920px) {
  .comparti article .texto {
    text-align: start;
    width: 50%;
    max-width: 430px;
  }
}

/*PORTADA*/
.portada {
  background-image: url("../img/fondo-violta-nuevo.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 1em;
}
@media screen and (min-width: 920px) {
  .portada {
    flex-direction: row;
    padding: 0;
  }
}
.portada .img-portada {
  width: 80%;
  min-width: 220px;
  margin: 0 auto;
}
@media screen and (min-width: 920px) {
  .portada .img-portada {
    width: 100%;
  }
}
.portada .portada-texto {
  padding: 2em;
  /*      @media screen and (min-width:920px) {
            width: 50%;
            @include flex(row, end, center);
        }*/
}
.portada p {
  font-size: 1rem;
}
@media screen and (min-width: 920px) {
  .portada p {
    font-size: 1.25rem;
  }
}

/*Carrusel*/
.carousel-indicators [data-bs-target] {
  border-radius: 100%;
  height: 10px;
  width: 10px;
}

/*TESTIMONIOS*/
/*CARRUSEL*/
.testimonios .fondo-amarillo {
  padding: 2em 0;
}
@media screen and (min-width: 920px) {
  .testimonios .fondo-amarillo {
    padding-top: 4em;
    padding-bottom: 4em;
  }
}
.testimonios .carousel {
  height: 90vh;
}
@media screen and (min-width: 920px) {
  .testimonios .carousel {
    height: 70vh;
  }
}
.testimonios-carrusel {
  margin: 0 auto;
  margin-bottom: 1em;
}
@media screen and (min-width: 920px) {
  .testimonios-carrusel {
    width: 70%;
  }
}
.testimonios-cards {
  flex-direction: column;
  text-align: center;
  padding: 1em;
  height: 70vh;
  max-width: 843px;
  margin: 0 auto;
}
@media screen and (min-width: 920px) {
  .testimonios-cards {
    flex-direction: row;
    text-align: left;
  }
}
.testimonios-cards img {
  max-width: 415.86px;
}
@media screen and (min-width: 920px) {
  .testimonios-texto {
    margin-left: 1em;
    width: 50%;
  }
}

/*
.texto-testimonio span {
    color: #acaaa8;
}*/
/*CARDS*/
.card {
  background-color: #FDF5EF;
  text-align: center;
  border: none;
  border-radius: 1.25rem;
  margin-bottom: 1em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 30px;
  max-width: 379px;
}
.card-body {
  max-width: 330px;
}
.card ul {
  list-style-type: none;
  text-align: start;
  line-height: 1, 875rem;
  padding-left: 1rem;
  margin-bottom: 30px;
}
.card ul li::before {
  content: url("../img/cheack.svg");
  padding-right: 8px;
}
.card ul .tachado::before {
  content: url("../img/none.svg");
}

.funcion .card,
.beneficios .card,
.creadoras .card {
  border: none;
  background-color: transparent;
  box-shadow: none;
}

.pago .card {
  min-height: 140px;
  min-height: 140px;
  justify-content: center;
  align-items: center;
}
.pago .card h5, .pago .card .titulo-suscripciones h3, .titulo-suscripciones .pago .card h3 {
  font-size: 1rem;
}
.pago .card .texto {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
}

.tachado {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: rgba(85, 68, 68, 0.6);
}

.iconos-pago {
  width: 80px;
}

.unite .card {
  min-width: 277.78px;
  width: 90%;
  margin: 1.25rem auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media screen and (min-width: 920px) {
  .unite .mini-chef {
    margin-left: auto;
    margin-right: 0;
  }
  .unite .chef {
    margin-left: 0;
    margin-right: auto;
  }
}

.titulo-suscripciones {
  border-bottom: 1px solid;
  margin-bottom: 20px;
}
.titulo-suscripciones h5, .titulo-suscripciones h3 {
  color: #FF5B7C;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}
.titulo-suscripciones h3 {
  font-size: 48px;
}

.popular {
  position: absolute;
  top: 0;
  right: 0;
}

/*form*/
.form-control {
  margin-top: 1em;
}

form .btn {
  margin-top: 1em;
}

form {
  max-width: 637.08px;
}
form .btn {
  margin: 0.5rem 0 0 auto;
}/*# sourceMappingURL=styles.css.map */